* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

main {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "player3 player3 player3 chat"
    "player2 table player4 chat"
    "player1 player1 player1 chat";
  grid-template-rows: 2fr 3fr 2fr;
  grid-template-columns: 2fr 3fr 2fr 1fr;

  background-color: lightgray;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  .player {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    .timer {
      width: 100%;
      margin: 4px;
      height: 4px;
      border: 1px solid forestgreen;
      background-color: limegreen;
    }

    .action {
      position: absolute;
      //   min-height: 100%;
      top: 0;
      left: 100%;
      margin-left: 10px;

      //   border: 1px solid green;
      display: flex;

      button {
        min-width: 50px;
      }
    }
  }
}

.details {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;

  .name {
    font-weight: 800;
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 62px;
    height: 88px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    margin: 4px;
    padding: 8px;

    text-align: center;
    font-family: "Abril Fatface", serif;
    font-size: 40px;
    line-height: 36px;

    .red {
      color: red;
    }
  }
}

#table {
  grid-area: table;
  background-color: forestgreen;
  border-radius: 100px;

  .details {
    width: 100px;
  }

  .cards {
    flex-basis: 100%;
  }

  .pot {
    flex-basis: 100%;
  }
}

.chips {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .stack {
    display: flex;
    flex-direction: column;
    margin: 2px;

    .chip {
      width: 12px;
      height: 3px;
      margin-top: 1px;
    }
  }

  .v50 {
    .chip {
      background-color: black;
    }
  }

  .v20 {
    .chip {
      background-color: forestgreen;
    }
  }

  .v5 {
    .chip {
      background-color: blue;
    }
  }

  .v2 {
    .chip {
      background-color: red;
    }
  }

  .v1 {
    .chip {
      background-color: white;
    }
  }
}

#player1 {
  // Andy - bottom
  grid-area: player1;
}

#player2 {
  // Duchess - left
  grid-area: player2;
}

#player3 {
  // Texas - top
  grid-area: player3;
}

#player4 {
  // Lucky - right
  grid-area: player4;
}

#chat {
  grid-area: chat;
  background-color: white;
}
