* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "player3 player3 player3"
    "player2 table player4"
    "player1 player1 player1";
  grid-template-rows: 2fr 3fr 2fr;
  grid-template-columns: 2fr 3fr 2fr;

  background-color: lightgray;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .player {
    position: relative;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;

    .details {
      text-align: center;
    }

    .action {
      position: absolute;
      //   min-height: 100%;
      top: 0;
      left: 100%;
      margin-left: 10px;

      //   border: 1px solid green;
      display: flex;
        
      button {
          min-width: 50px;
      }
    }
  }
}

.cards {
  display: flex;

  .card {
    width: 62px;
    height: 88px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    margin: 4px;
    padding: 8px;

    text-align: center;
    font-family: "IBM Plex Serif", serif;
    font-size: 40px;
    line-height: 32px;

    .red {
      color: red;
    }
  }
}

#table {
  grid-area: table;
  background-color: forestgreen;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#player1 {
  // Andy - bottom
  grid-area: player1;
}

#player2 {
  // Duchess - left
  grid-area: player2;
}

#player3 {
  // Texas - top
  grid-area: player3;
}

#player4 {
  // Lucky - right
  grid-area: player4;
}
