* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

main {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
      grid-template-areas: "player3 player3 player3 chat" "player2 table player4 chat" "player1 player1 player1 chat";
  -ms-grid-rows: 2fr 3fr 2fr;
      grid-template-rows: 2fr 3fr 2fr;
  -ms-grid-columns: 2fr 3fr 2fr 1fr;
      grid-template-columns: 2fr 3fr 2fr 1fr;
  background-color: lightgray;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .player {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container .player .timer {
  width: 100%;
  margin: 4px;
  height: 4px;
  border: 1px solid forestgreen;
  background-color: limegreen;
}

.container .player .action {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .player .action button {
  min-width: 50px;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
}

.details .name {
  font-weight: 800;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .card {
  width: 62px;
  height: 88px;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  margin: 4px;
  padding: 8px;
  text-align: center;
  font-family: "Abril Fatface", serif;
  font-size: 40px;
  line-height: 36px;
}

.cards .card .red {
  color: red;
}

#table {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: table;
  background-color: forestgreen;
  border-radius: 100px;
}

#table .details {
  width: 100px;
}

#table .cards {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#table .pot {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.chips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chips .stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2px;
}

.chips .stack .chip {
  width: 12px;
  height: 3px;
  margin-top: 1px;
}

.chips .v50 .chip {
  background-color: black;
}

.chips .v20 .chip {
  background-color: forestgreen;
}

.chips .v5 .chip {
  background-color: blue;
}

.chips .v2 .chip {
  background-color: red;
}

.chips .v1 .chip {
  background-color: white;
}

#player1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: player1;
}

#player2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: player2;
}

#player3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: player3;
}

#player4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: player4;
}

#chat {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  grid-area: chat;
  background-color: white;
}
/*# sourceMappingURL=main.css.map */