* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
    "player4 player4 player4"
    "player3 table player2"
    "player1 player1 player1";
    grid-template-rows: 2fr 3fr 2fr;
    grid-template-columns: 2fr 3fr 2fr;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    border: 1px solid black;
    width: 200px;
    height: 100px;
}

#player1 {
    grid-area: player1;
}

#player2 {
    grid-area: player2;
}

#player3 {
    grid-area: player3;
}

#player4 {
    grid-area: player4;
}

#table {
    grid-area: table;
    background-color: forestgreen;
}